body {
    font-family: "Segoe UI", Segoe, Arial, sans-serif;
    font-size: 1.3rem;
}

.wrapper {
    width: 80%;
    max-width: 1500px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    overflow: hidden;
    width: 100%;
}

col {
    width: 10%;
}

col:not(:first-child) {
    width: 18%;
}

tr {
    height: 2rem;
}

tr:nth-child(odd) {
    border-top: 1px solid black;
}

tr:nth-child(even) {
    border-top: 1px dotted black;
}

tr:hover {
    background-color: hsl(60,100%,75%);
}

td, th {
    text-align: center;
    position: relative;
    border-left: 1px solid black;
}

td:hover, th:hover {
    background-color: hsl(60,100%,66%);
}
td:hover:after, th:hover:after {
    content: '\00a0';
    position: absolute;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    background-color: hsl(60,100%,75%) !important;
    z-index: -1;
}

th:first-child{
    vertical-align: top;
}

caption {
    background-color: #fff; /* so that highlighted column doesn't show through caption */
}

#W2016 {
    display: none;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 0.8rem;
    }
}
